
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);

html{
    height: 100%;
}
body {

    background: linear-gradient(white, #b8a9c9);
    height: 200%;
}

.texto-verde {
    font-weight: bold;
    color: green;
}

.texto-vermelho {
    font-weight: bold;
    color: red;
}



#logo{
    width: 100px;
    height: 100px;
}

.uk-navbar-container {
    background-color: #d6d4e0!important;
    position: sticky;
}

.uk-navbar-nav a {
    font-weight: bold!important;
    color: #666 ;
    font-family: Nunito!important;
    text-transform: capitalize!important;

}

.uk-navbar-nav .uk-active a {
    font-weight: bold!important;
}

.passar-slide{
    border-radius: 50%;
    background-color:#c83349;
}
.uk-subnav a{
    color: #a4aaa4!important;
}



.uk-button-text {
    text-transform: lowercase;
}

.botao {
    background-color: #a4aaa4; /* Green */
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
	border: none;
}

.passar-slide.active{
    background-color:#eeac99;

}
.container-perguntas {
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%); 
    background-color: #eeac99;;
    border-radius: 4%;
    margin-top: 64px;
}


.texto-primeiro-slide{
    font-weight: bold;
}

.div-pergunta h1{
    color: whitesmoke;
    font-family: Nunito;
    font-weight: 500;
}

.uk-grid-match {
    align-items: center;
}

.uk-flex-column {
    text-align: justify;
    align-items: center;
}

#descricao-primeiro-slide .uk-link-text{
    color: #d6d4e0;
}


.uk-legend{
    font-weight: bold;
    font-family: Nunito;
}

.resposta{
    background-color: #d6d4e0;
    color:#5b9aa0;
    border-radius: 5%;
}

.imagem-slide{
    color: #5b9aa0;
    height: 150px;
}

/**********************************pegada de carbono **************************/

.slideshow-explicacao{
    margin-top: 40px;
}