.conteudo p{
    color: whitesmoke;
    text-align: justify;
}

.conteudo h2{
    color: whitesmoke;
}

.conteudo{
    background: linear-gradient(#333, #b8a9c9);
}

.texto-escuro{
    color: #333!important;
}

.slides{
    font-family: Nunito;
}

.conteudo-2{
    font-family: Nunito;
}

.conteudo-2 h4{
    text-align: center;
}

.uk-card-default{
    box-shadow: 0 5px 15px rgb(0 0 0 / 20%);
}